html,body{ height: 100%; }
.bgWrapper {
    background: #000 url('../images/bg_low.png') no-repeat center center;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
    width: 100%;
    height: 100%;
    position: fixed;
}
#bgImage { display: none; }
.logo { width: 50%; }
.content { 
    padding: 10px 20px;
    border-radius: 10px; 
    border: solid 1px #FFF; 
    background-color: rgba(0,0,0,0.5);  
}
.content input { width: 100%; margin-bottom: 5px; border-radius: 5px; padding-top: 2px; padding-bottom: 2px; }
.content a:not(.link) { 
    color: #FFF; 
    text-decoration: none; 
    background-color: rgba(0,0,0,0.5); 
    border-radius: 5px; 
    border: solid 1px #FFF; 
    padding: 3px;
    display: block;
    float: left;
    margin-bottom: 5px;
    text-align: center;
}
#muteButton img { height: 16px; }
.error { text-align: center; color: #F00; }
.success { text-align: center; color: #0F0; }
#loginLink, #signup_cancel, #trouble_cancel, #trouble_submit, #reset_submit, #reset_cancel { width: 45%; margin-right: 5%; }
#signupLink, #signup_submit { width: 45%; margin-left: 5%; }
#troubleLink, #trouble_cancel, #trouble_submit { width: 100%; }
#errorWrapper, #successWrapper, #signupFormWrapper, #troubleFormWrapper, #resetFormWrapper { display: none; }
footer { position: absolute; bottom: 0; width: 100%; color: #FFF; text-shadow: 1px 1px #000; font-size: 0.8em; }
footer a { color: #FFF; text-decoration: underline; text-shadow: 1px 1px #000; }
footer.fix { position: relative; }
.center { text-align: center; }
.right { text-align: right; }
.hidden { display: none; }
@media screen and (max-width: 480px) {
    #trouble_cancel, #trouble_submit { width: 100%; }
    footer { position: relative; margin-top: 150px; }
    footer p { text-align: center !important; }
}
